// Media Query Mixin

@mixin brkpoint {
    @media ($brk) {
        @content;
    }
}

// Flexbox Mixin

@mixin flexy(
    $disp: null,
    $dir: null,
    $justy: null,
    $align: null,
    $basis: null,
    $wrap: null,
) {
    display: $disp;
    flex-direction: $dir;
    justify-content: $justy;
    align-items: $align;
    flex-basis: $basis;
    flex-wrap: $wrap;
}